body{

}

header{
    position: fixed;
    display: block;
    top: 0;
    left: 0;

    width: 100%;
    height: 60px;

    background-color: darkslateblue;

}

#title{
    margin-left: 40px;
    margin-top: 17px;

    color: #fff;

    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
}

section{

}

footer{

}